<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="QuantozRepo" value="https://nuget.pkg.github.com/QuantozTechnology/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <QuantozRepo>
      <add key="Username" value="USERNAME" />
      <add key="ClearTextPassword" value="GITHUB_TOKEN" />
    </QuantozRepo>
  </packageSourceCredentials>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- Contoso.* packages and NuGet.Common will be restored from contoso.com, everything else from nuget.org. -->
  <packageSourceMapping>
    <packageSource key="QuantozRepo">
      <package pattern="Algorand" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>